.table > tbody > tr > td {
    padding: 10px 12px !important;
}
.create-button {
padding-right: 2%;
}
.table-title {
    font-size: 16px;
    font-weight: 300;
}
.table-title-create-button{
    margin-bottom: -15px !important;
}
@media (min-width: 1919px) and (max-width: 1980px) {
    .create-button {
        padding-right: 1.5%;
    }
}
.select2-container--default .select2-selection--single {
    background-color: #383737 !important;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple{
    border: 2px solid #383737 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #a3a2a2;
}